<%= form_for([@project,@release]) do |f| %>
  <% if @release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@release.errors.count, "error") %> prohibited this release from being saved:</h2>

      <ul>
      <% @release.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :sdlcm_release_id %>
    <%= f.text_field :sdlcm_release_id %><br>
    <%= f.label :start_date %>
    <%= f.date_field :start_date %><br>
    <%= f.label :end_date %>
    <%= f.date_field :end_date %><br>
    <%= f.submit %>
  </div>
<% end %>
