<%= form_for([@release, @release_review]) do |r| %>
  <% if @release_review.errors.andy? %>
    <h2><%= pluralize(@release_review.errors.count, "error") %> prohibited you from addind a question.</h2>
    <ul>
      <% @release_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <% if @release_review_add.count > 0 %>
    <%= r.select :review_id, options_from_collection_for_select(@release_review_add, 'id', 'name') %>
    <% r.hidden_field :release_id, :value => @release.id %>
    <%= r.submit "Add Review" %>
  <% end %>
<% end %>
