<%= form_for @question do |q| %>
  <% if @question.errors.any? %>
    <h2><%= pluralize(@question.errors.count, "error") %></h2>
  <% end %>
  <%= q.label :question %><br>
  <%= q.text_area :question %><br>
  <%= q.label :ans_type, "Answer Type" %><br>
  <%= q.radio_button :ans_type, 1 %> type 1<br>
  <%= q.radio_button :ans_type, 2 %> type 2<br>
  <%= q.submit %>
<% end %>
