<div class="page-header"><h1> Questions </h1></div>
<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Question name:</th>
      <th>Answer type:</th>
      <th>Show:</th>
      <th>Edit:</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @questions.each do |q| %>
        <td><%= q.str %> </td>
        <td><%= q.ans_type %> </td>
        <td><%= link_to "Show", q %> </td>
        <td><%= link_to "Edit", edit_question_path(q) %> </td>
        <td><%= link_to "Delete", q, method: :delete, data: {confirm: "Are you sure?" } %> </td>
       </tr>
     <% end %>
  </tbody>
</table>
