<div class="page-header"><h1> Users </h1></div>
<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>First</th>
      <th>Middle</th>
      <th>Last</th>
      <th>EMP_ID</th>
      <th>Email</th>
      <th>Role</th>
      <th>Admin</th>
      <th>Show</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.f_name %></td>
        <td><%= user.m_name %></td>
        <td><%= user.l_name %></td>
        <td><%= user.employee_num %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.super_admin %></td>
        <td><%= link_to "Show", user %></td>
        <td><%= link_to "Edit", edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
