<div class="page-header"><h1> Projects </h1></div>
<br>

<div class="container">
<% if @user.super_admin %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Project Name:</th>
        <th>Show:</th>
        <th>Edit:</th>
      </tr>
    </thead>
    <tbody>
      <% @user_projects.each do |project| %>
        <tr>
          <td> <%= project.project_name %> </td>
          <td> <%= link_to "Show", project %> </td>
          <td> <%= link_to "Edit", edit_project_path(project) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Projects you are tied to:</p><br>
  <h4> PROJECTS YOU HAVE <%= @user.role.upcase %> PRIVLEGES IN </h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Project Name:</th>
        <th>Show:</th>
      </tr>
    </thead>
    <tbody>
      <% @user_projects.each do |project| %>
        <tr>
          <td> <%= project.project_name %> </td>
          <td> <%= link_to "Show", project %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</div>
