<div class="page-header"><h1>Name: <%= @project.project_name %></h1></div><br>
<h4>End Date:<%= @project.end_date %></h4><br>
<h4>PPM ID:<%= @project.ppm_id %></h4><br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>SDLCM Release ID</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @project.releases.each do |release| %>
      <% if not release.new_record? %>
        <tr>
          <td><%= release.name %></td>
          <td><%= release.sdlcm_release_id %></td>
          <td><%= release.start_date %></td>
          <td><%= release.end_date %></td>
          <td><%= link_to 'Show', release_url(release) %></td>
          <td><%= link_to 'Edit', edit_release_path(release) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<h3>Create New Release</h3>
<%= render 'releases/form' %>

<div class="page-header"><h1>Admins:</h1></div>
<%= render 'project_admins' %>
<%= render 'project_users/admins_form' %>
<br>

<div class="page-header"><h1>Submitters:</h1></div>
<%= render 'project_submitters' %>
<%= render 'project_users/submitters_form' %>
<br>

<div class="page-header"><h1>Approvers:</h1></div>
<%= render 'project_approvers' %>
<%= render 'project_users/approvers_form' %>
