<div class="page-header"><h1>Name: <%= @project.project_name %></h1></div><br>
<h4>End Date:<%= @project.end_date %></h4><br>
<h4>PPM ID:<%= @project.ppm_id %></h4><br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>SDLCM Release ID</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @project.releases.each do |release| %>
      <% if not release.new_record? %>
        <tr>
          <td><%= release.name %></td>
          <td><%= release.sdlcm_release_id %></td>
          <td><%= release.start_date %></td>
          <td><%= release.end_date %></td>
          <td><%= link_to 'Show', release_url(release) %></td>
          <td><%= link_to 'Edit', edit_release_path(release) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<h3>Create New Release</h3>
<%= render 'releases/form' %>

<% if false #TODO This code does not work now and needs to be fixed %>
<div class="page-header"><h1>Admins:</h1></div>
<% @admins.each do |user| %>
  <h4><%= user.name %></h4>
<%end%>
<br>

<div class="page-header"><h1>Submitters:</h1></div>
<% @submitters.each do |user| %>
  <h4><%= user.name %></h4>
<%end%>
<br>

<div class="page-header"><h1>Approvers:</h1></div>
<% @approvers.each do |user| %>
  <h4><%= user.name %></h4>
<%end%>
<% end %>
