<%= link_to "Projects", projects_path %>
<span class="badge"><%= @num_projects %></span><br>
<%= link_to "Releases", projects_path %>
<span class="badge"><%= @num_projects %></span><br>
<%= link_to "Reviews", reviews_path %>
<span class="badge"><%= @num_reviews %></span><br>
<%= link_to "Questions", questions_path %>
<span class="badge"><%= @num_questions %></span><br>
