<div id="side_nav">
  <% if user_signed_in? %>
  
  <div class="col-md-12">
    <nav class="sidebar sidebar-nav">
            <ul class="nav">
	      <li><%= image_tag( root_url + "/images/hp_logo.png", size: "100x100") %></li>

	      <li><a href="javascript:history.back()" class="glyphicon glyphicon-arrow-left"> Back </a></li><br>

	      <% if current_page?(root_path) %>
		<li><%= link_to "Projects", projects_path %></a></li>
		<li><%= link_to "Reviews", reviews_path %></a></li>
		<li><%= link_to "Releases", root_path %></a></li>
		<li><%= link_to "Questions", questions_path %></a></li>
	      <% end %>

	      <% if current_page?(projects_path) %>
		<li><%= link_to "Create a Project", new_project_path %></a></li>
	      <% end %>

	      <% if current_page?(reviews_path) %>
		<li><%= link_to "Create a Review", new_review_path %></a></li>
	      <% end %>

	      <% if current_page?(questions_path) %>
		<li><%= link_to "Create a Question", new_question_path %></a></li>
	      <% end %>

	      <% if current_user.super_admin %>
	        <% if current_page?(users_path) %>
	        <% end %>
              <% end %>
            </ul>
    </nav>
  <% end %>
  </div>
</div>
