<h1> Edit Review </h1>

<h4>Review ID: <%= @review.id %></h4>
<%= render 'form' %>

<%= link_to 'View', @review %><br>
<%= link_to 'All Reviews', reviews_path %><br>
<%= link_to 'Delete', @review, method: :delete, 
      data: { confirm: 'Are you sure?' } %><br>
