<h1>Review ID: <%= @review.id %></h1>

<h4><%= @review.review_name %></h4>
<h4>Description</h4>
<p><%= @review.description %></p>
<h4>Review Questions</h4>
<% @review.review_questions.each do |question| %>
  <% if not question.new_record? %>
    <%= question.question.question %>
    <% if current_user.super_admin %>
      <%= link_to 'Remove', question, method: :delete, data: { confirm: 'Are you sure?' } %><br>
    <% end %>
  <% end %>
<% end %>
<% if current_user.super_admin %>
  <%= render 'review_question/form' %>
  <%= link_to "Edit Review", edit_review_path %><br>
<% end %>
