<h1>Review ID: <%= @review.id %></h1>

<h4><%= @review.review_name %></h4>
<h4>Description</h4>
<p><%= @review.description %></p>
<% if current_user.super_admin %>
  <%= link_to "Add Questions", edit_review_path %><br>
  <%= link_to "Edit", edit_review_path %><br>
<% end %>
<%= link_to "show Questions", questions_review_path %><br>
